.input {

  margin-bottom: 1rem;
  height: 40px;
  border: 0;
  border-radius: 0.5rem;
  background-color: var(--AVATAR);
  color: var(--text);
  padding: 1rem;
  border: 1px solid var(--primary);
}

.input::placeholder {
  color: rgba(0,0,0, 0.8);
}
